<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.image.key, height: 300, crop: :fill%>');">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to raw('<i class="far fa-trash-alt"></i>'), list_path(@list), method: :delete, data: { confirm: "Are you sure to remove #{@list.name}?" }, class: 'btn btn-outline-danger btn-sm m-3' %>
  </div>
</div>
<br>
<div class="container bg-light d-flex flex-wrap rounded">
    <% @list.bookmarks.each do |bm| %>
      <div class='col-3 m-2'>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bm.movie.poster_url %>')">
          <div class="d-flex flex-column justify-content-between ml-2">
            <h4><%= bm.movie.title %></h4>
          <h5>rated: <%= bm.movie.rating %></h5>
          <h5 class="scroll"><%= bm.comment %></h5>
          </div>
            <%= link_to raw('<i class="far fa-trash-alt"></i>'), bookmark_path(bm), method: :delete, data: { confirm: "Remove #{bm.movie.title}?" }, class: 'btn btn-danger btn-sm' %>
        </div>
        <p class="scroll card-p"><%= bm.movie.overview %></p>
      </div>
    <% end %>
    <div class="col-3 m-2">
      <div class='btn btn-outline-primary btn-bookmark show'><%= icon('fas', 'plus') %></div>
    </div>
</div>
<br>
<div class="bg d-none">
  <div class="container bg-light col-6 popup">
    <h2>Search for a movie</h2>
    <span class="x"><%= icon('fas', 'times-circle') %></span>
      <%= simple_form_for :search, url: (new_movie_path), method: "GET", html: { class: 'form-inline d-flex' } do |f| %>
        <%= f.hidden_field :list_id, value: @list.id %>
        <%= f.input :title, label: icon('fas', 'video'), placeholder: "enter a title" %>
        <button action='submit' disabled='disabled' class='btn btn-primary dis'><%= icon('fab', 'sistrix') %></button>
      <% end %>
  </div>
</div>
