<h1>Add a bookmark</h1>
<div class="container bg-light bm-container">
  <div class='col-11 movie-card'>
    <div class="card-category col-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @movie.poster_url %>)"></div>
    <div>
      <div class="description">
        <div class="card-h p-1 scroll">
          <h4><%= @movie.title %></h4>
        </div>
        <div class="card-p p-1 scroll">
          <p><%= @movie.overview %></p>
        </div>
      </div>
    </div>
    <button class="btn btn-light btn-movie"><%= icon('fas', 'check')  %></button>
  </div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.input :comment %>
    <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>
