<!DOCTYPE html>
<html>
  <head>
    <title>SalWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
    </div>
  </body>
</html>
